################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiceItUp/DiceItUp/obj/Debug/DiceItUp.csprojAssemblyReference.cache
