body {
    width: 100vw;
    height: 100vh;
}

.container-fluid {
    padding: 0;
    height: calc(100% - 100px);
}

.row {
    margin: 50px 0px;
}

/* _Layout */
.navbar {
    padding: 0px 50px;
    height: 100px;
    background-color: dodgerblue;
}

.navbar-brand {
    font-size: 36px;
    color: white !important;
}

.navbar-brand p {
    margin: 0;
}


/* Account/Index */
.register-template {
    height: 100%;
    display: flex;
    background-image: url("../images/board-game.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.register-template > * {
    padding: 50px;
}

.register-template .register-description {
    width: 60%;
}

.register-template .register-form {
    width: 40%;
}

/*PlayerProfiles/Details*/
.player-profile .card-column .card {
    margin-left: calc(50% - 9rem);
}

.player-title {
    text-align: center;
}

/*PlayerProfiles/Edit*/
.player-profile .card .card-title {
    display: flex;
    align-items: center;
}

.player-profile form {
    width: 100%;
}

.player-profile .card .card-title input {
    margin-left: 10px;
}